.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  color: white;
}

.formContainer select {
    background-color: #373737;        
    color: white;                       
    padding: 0.5rem;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
}

.formContainer select:focus {
    outline: unset;
}

.formTitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.formGroup {
  display: flex;
  flex-direction: column;
}