.header {
    width: 100vw;
    background-color: #181818;
    transition: height .4s ease-in-out;
    height: 80px;
    position: fixed;
    z-index: 10;
    overflow: hidden;
}

.header div {
    display: flex;
    background-color: #181818;
    padding: 5px 2rem;
    justify-content: space-between;
    width: 100%;
}

.header.isActive {
    position: fixed;
    height: 100vh;
}

.header button {
    margin-top: 15px;
    height: fit-content;
    cursor: pointer;
}

.header ul {
    height: 70px;
}

.header img {
    height: 70px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    flex: 0;
}

.header .listColumn {
    flex-direction: column;
}

.header .listColumn li a::before {
    display: none;
}

@media screen and (max-width: 768px) {
    .header .listColumn {
        display: flex;
    }
}